[submodule "/Users/sazenshakya/Code/Automatic-License-Plate-Recognition/TensorFlowNew"]
	path = /Users/sazenshakya/Code/Automatic-License-Plate-Recognition/TensorFlowNew
	url = https://github.com/nicknochnack/TFODCourse.git
